<% if current_user %>
  <h4>Add an item to the list:</h4>
  <%= form_for [list, list.items.new] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter To-Do" %>
    <%= f.submit "Save", class: 'btn btn-success btn-sm' %>
  <% end %>
<% end %>

